.screen3_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.screen3_img {
    max-width: 300px
}

.screen3_title {
    font-size: larger;
}

#form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20px auto; 
}

form input,
form button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #b42610; 
    font-size: 1em;
    color: #000000;
    background-color: #fff; 
}

form button {
    background-color: #b42610; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #a02513;
    transition: 0.3s;
}

form button:active {
    background-color: #721d10;
}

#screen3.hidden {
    display: none;
}

#screen3.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 20px auto; 
}

.thank_you_message {
    margin-top: 20px;
    padding: 10px;
    background-color: #b42610;
    color: #ffffff;
    border: 1px solid #d32d13;
    border-radius: 5px;
}

.thank_you_message.hidden {
    display: none;
}

.thank-you-message.show {
    display: block;
}

#phone_code {
    width: auto; 
    padding: 5px; 
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    margin-right: 5px; 
}

.phone_input_wrapper {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.phone_input_wrapper input {
    border-radius: 0 5px 5px 0;
    flex-grow: 1; 
    padding: 10px;
}

.country-flag {
    margin-right: 5px; 
    vertical-align: middle; 
}

