.screen1_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.screen1_img img {
    max-width: 35%;
}

.screen1_title {
    font-size: 30px;
}

.screen1_subtitle {
    font-size: 20px;
}

.screen1_description {
    padding-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


.timer {
    padding-bottom: 10px;
}

#question1,
#question2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question1 label,
#question2 label {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 15px;
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #b42610;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

input[type="radio"]:checked::before {
    display: block;
}

#question2 {
    display: none;
}

#next_button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #b42610;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#next_button:hover {
    background-color: #a02513;
}

#next_button:active {
    background-color: #721d10;
}

#next_button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

.question {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question.active {
    display: block;
}

#screen1 {
    display: block;
}

#screen1.hidden {
    display: none;
}

.hidden {
    display: none;
}

.active {
    display: block;
}